* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),url(../images/P1000836.JPG);
    background-position: center;
    background-size: cover;
    padding-left: 10px;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo {
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 50px;
}

nav {
    flex: 1;
    text-align: right;
    margin-right: 30px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: fff;
    font-size: 14px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
    }

.col {
    flex-basis: 50%;
}

h1 {
    color: #fff;
    font-size: 50px;
}
h5 {
    font-size: 16px;
}

h2 {
    font-size: 18px;
    padding-top: 20px;
}
p {
    color: #fff;
    font-size: 13px;
    line-height: 15px;
}

button {
    width: 180px;
    font-size: 12px;
    padding: 12px 0;
    color: #000;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
}

button a {
    text-decoration: none;
    font-size: 14px;

}
.card {
    display: grid;
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card p {
    color: black;
}

.card:hover{
    transition: translateY(-10px);
}
.card1 {
    background-image: url(../images/DixSmall.jpg)
}

.card2 {
    background-image: url(../images/AlgonquinSmall.jpg)
}

.card3 {
    background-image: url(../images/MarcySmall.jpg)
}

.card4 {
    background-image: url(../images/HaySmall.jpg)
}

.about {
    color: black;
    font-size: 12px;
    padding-top: 20px;
    
    
    
}